
html, body {
  /*border: 1px solid red;*/
  color: white;
  height: 100%;
  margin: 0 auto;

  font-family: 'Oswald', sans-serif;

}


html {
  background-image: url("../images/guitar.png"), url("../images/background.jpg");
  background-position: right, center;
  background-repeat: no-repeat;
  background-size: contain, cover;
  height: 100%;

}

header {
  /*border: 1px solid red;*/
  width: 100%;
  background-color: #000000CC;
  padding: 4px 0;

  font-size: 1.5em;
  font-family: 'Special Elite', cursive;

}

ul {
  /*border: 1px solid green;*/
  list-style-type: none;
  text-align: center;


}

li {
  /*border: 1px solid pink;*/
  display: inline;
  margin: 0 32px;

}

.container {

}

.notes {
  /*border: 1px solid red;*/
  width: 45%;
  padding: 2em .5em;
  font-size: 3em;
  font-weight: bold;

}

.note {
  /*border: 1px solid red;*/
  width: 50%;
  padding: 16px 8px;
  margin: 5px 0;
  background-color: #000000CC;

  transition: all 1.25s
}

.note > span {
  color: brown;
  font-style: italic;
  font-size: .4em;
}

.playing {
  transform: scale(1.1);
  background-color: #805500CC;
}
